/* Home.css */
.home-page {
    background-image: url('../../images/theam.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay to make text readable */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .text-white {
    color: #fff;
  }
  
  .start-chat-btn {
    border: 2px solid white;
    transition: all 0.3s ease;
  }
  
  .start-chat-btn:hover {
    background-color: white;
    color: black;
  }
  
  .vh-100 {
    height: 100vh;
  }
  